@charset "UTF-8";
/* 所有設定檔 */
@font-face {
  font-family: sui generis rg;
  src: url("../webfonts/sui generis rg.otf");
  src: url("../webfonts/sui generis rg.otf");
}
@font-face {
  font-family: LairaItalic;
  src: url("../webfonts/LairaItalic-MVo6n.otf");
  src: url("../webfonts/LairaItalic-MVo6n.otf");
}
@font-face {
  font-family: Laira-rgoBL;
  src: url("../webfonts/Laira-rgoBL.otf");
  src: url("../webfonts/Laira-rgoBL.otf");
}
@font-face {
  font-family: OPTIFranklinGothic-Medium;
  src: url("../webfonts/OPTIFranklinGothic-Medium.otf");
  src: url("../webfonts/OPTIFranklinGothic-Medium.otf");
}
@font-face {
  font-family: Enter Sansman;
  src: url("../webfonts/entsani.ttf") format("opentype");
  src: url("../webfonts/entsani.ttf") format("opentype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:active,
*:hover {
  outline: none;
}

@font-face {
  font-family: "Serathine";
  src: url("../fonts/serathine-bwrgg.ttf") format("truetype");
  font-display: swap;
}
body {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  transition: padding-top 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
body.noscroll {
  overflow-y: hidden;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.texteditor ol,
.texteditor ul {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1.seo,
h2.seo {
  position: fixed;
  top: -100%;
  left: -100%;
  visibility: hidden;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #191919;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  background: unset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

form {
  width: 100%;
  margin: 0 auto;
}

input:not([type=radio]):not([type=checkbox]),
textarea,
select {
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 1px;
  padding: 7px 10px;
  background: #000;
  border: 1px solid #ccc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input:not([type=radio]):not([type=checkbox])::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: inherit;
}
input:not([type=radio]):not([type=checkbox])::placeholder,
textarea::placeholder,
select::placeholder {
  color: inherit;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.underline {
  text-decoration: underline;
}

.del {
  text-decoration: line-through;
}

.break-all {
  word-break: break-all;
}

.offcanvas-body ul li {
  list-style: none;
}
.offcanvas-body ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
  line-height: 2.5rem;
}
.offcanvas-body ul li a:hover {
  color: rgb(255, 208, 0);
}

/* 動畫功能 */
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.aside {
  background: linear-gradient(to bottom, #413b2f 0%, #2e2721 10%, #2e2721 100%);
}
.aside__logo {
  display: block;
  height: auto;
  padding: 15px 10px 25px 10px;
  border-bottom: 5px groove #66584b;
}
.aside .user-img {
  padding: 10px;
}
.aside__user {
  width: 42%;
  margin: 50px;
  border-radius: 50%;
  border: 5px solid #baa480;
}
.aside__member {
  text-align: center;
}
.aside__member-label {
  position: relative;
}
.aside__member-label img {
  position: absolute;
  right: 5px;
  top: 40%;
  transform: translate(0, -50%);
}
.aside__member-label input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #7f602b;
  background-color: #000;
  padding-right: 33px;
}
.aside__member-label input.userName {
  color: #fff;
}
.aside__member-label input.userMoney {
  color: #eed4a8;
}
.aside__member-btn-classic {
  color: #fff;
  margin-bottom: 5px;
  height: 60px;
  background: url("../images/room_blue_btn.png") no-repeat center center/100% 100%;
}
.aside__member-btn-multiple {
  color: #fff;
  height: 60px;
  background: url("../images/room_gray_btn.png") no-repeat center center/100% 100%;
}
.aside .rank {
  margin-top: 10px;
}
.aside .rank__body {
  border: 4px solid #776648;
  border-radius: 5px;
}
.aside .rank__body-tabs-btn {
  color: #eed4a8;
  font-size: 1vw;
  background: linear-gradient(to bottom, #f9e574 0%, #291d00 67%);
}
.aside .rank__body-tabs-btn.active {
  background: linear-gradient(to bottom, #f97474 0%, #290000 67%);
}
.aside .rank__body-tabs .nav-link {
  padding: 10px 0;
}
.aside .rank__body-badge {
  margin: 10px 0;
  text-align: center;
}
.aside .rank__body-badge .btn:hover {
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.aside .rank__body-badge__red {
  border: 1px solid #fc6b6b;
  background: linear-gradient(to top, #9d3030 0%, #580b0b 48%, #b33f3f 100%);
}
.aside .rank__body-badge__yellow {
  border: 1px solid #fc6b6b;
  background: linear-gradient(to top, #9d5f30 0%, #582c0b 48%, #b37b3f 100%);
}
.aside .rank__body-contents .tab-pane {
  width: 100%;
}
.aside .rank__body-contents .tab-pane ul {
  display: block;
  width: 100%;
  height: 22vh;
}
.aside .rank__body-contents .tab-pane ul li {
  display: flex;
  border: 1px solid #5b460c;
  padding: 10px;
}
.aside .rank__body-contents .tab-pane ul li:nth-child(1) {
  box-shadow: inset 1px 10px 10px rgba(105, 92, 65, 0.8);
}
.aside .rank__body-contents .tab-pane ul li:nth-child(2) {
  box-shadow: inset 1px 10px 10px rgba(190, 190, 190, 0.8);
}
.aside .rank__body-contents .tab-pane ul li:nth-child(3) {
  box-shadow: inset 1px 10px 10px rgba(105, 0, 121, 0.8);
}
.aside .rank__body-contents__numb {
  padding: 0 2px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  background: linear-gradient(to top, #cca75e 0%, #fde59b 60%, #fde59b 100%);
  background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.aside .rank__body-contents__cup {
  display: flex;
  align-items: center;
  padding: 5px;
}
.aside .rank__body-contents__cup img {
  min-width: 30px;
}
.aside .rank__body-contents__info {
  font-size: 1vw;
}
.aside .rank__body-contents__info-name {
  word-wrap: break-word;
  word-break: break-all;
}
.aside .rank__body-contents__info-money {
  word-wrap: break-word;
  word-break: break-all;
}

@media only screen and (max-width: 768px) {
  .aside__member-btn {
    display: flex;
  }
  .main__header-marquee {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__header-screen-btn a {
    display: none !important;
  }
}
/* 共用網頁主體 */
#forgetModalToggle .modal-content,
#forgetModalToggle2 .modal-content {
  border-width: 6px;
  border-color: rgba(83, 59, 14, 0.5);
  color: #000;
  background-color: transparent;
}
#forgetModalToggle .modal-content input,
#forgetModalToggle2 .modal-content input {
  background-color: #1b1815;
  color: #9f9f9f;
}
#forgetModalToggle .modal-content input::-moz-placeholder, #forgetModalToggle2 .modal-content input::-moz-placeholder {
  color: #ccc;
}
#forgetModalToggle .modal-content input::placeholder,
#forgetModalToggle2 .modal-content input::placeholder {
  color: #ccc;
}
#forgetModalToggle .modal-header,
#forgetModalToggle2 .modal-header {
  background: linear-gradient(to top, #523a0d, #463109, #533b0e);
  color: #fff;
  border-color: transparent;
}
#forgetModalToggle .modal-header h5,
#forgetModalToggle2 .modal-header h5 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 24px;
}
#forgetModalToggle .modal-header .btn-close,
#forgetModalToggle2 .modal-header .btn-close {
  filter: invert(100%);
}
#forgetModalToggle .modal-body,
#forgetModalToggle2 .modal-body {
  color: #fff;
  background-color: #2e2a21;
}
#forgetModalToggle .modal-footer,
#forgetModalToggle2 .modal-footer {
  background: linear-gradient(to top, #221e15, #2e2a21);
  border-color: rgba(83, 59, 14, 0.5);
}
#forgetModalToggle .modal-btn,
#forgetModalToggle2 .modal-btn {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
  border-radius: 48px;
  width: 100px;
}
#forgetModalToggle .modal-btn:hover,
#forgetModalToggle2 .modal-btn:hover {
  box-shadow: 0 0 15px #fff;
}
#forgetModalToggle .modal-btn:active,
#forgetModalToggle2 .modal-btn:active {
  background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
}

.marquee-switch {
  display: block;
  float: left;
  margin-right: 30px;
}
.marquee-switch__label {
  position: relative;
}
.marquee-switch__label-text {
  color: #fff;
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.marquee-switch__label-btn-box {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 40px;
  border-radius: 100px;
  background-color: #000;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.13) inset;
}
.marquee-switch__label-btn-box .btn {
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 40%;
  background: linear-gradient(to bottom, #fed06d 0%, #a2781d 41%, #a3791e 44%, #ffd16e 100%);
  margin-left: 0;
  /*動畫從ml為0開始*/
  transition: 0.5s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.marquee-switch__label-checkbox {
  position: absolute;
  opacity: 0;
}
.marquee-switch__label-checkbox:checked + .marquee-switch__label-btn-box .btn {
  margin-left: 60px;
}

.scrollbar {
  overflow: scroll;
}
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #352b1b;
  border-radius: 10px;
  margin: 0 130px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to top, #c09e56, #442c04, #c09e56);
}

body.login {
  background: #a4a4a4 url(../images/login_bg01.jpg) no-repeat center center/cover;
}
body.login .wrapper .login .row {
  height: 100vh;
}
body.login .wrapper .login__logo {
  text-align: center;
}
body.login .wrapper .login__select-custom {
  margin: 20px 0;
  position: relative;
  width: 220px;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
body.login .wrapper .login__select-custom .selected {
  background-color: #000;
  border: 2px solid #7f602b;
  border-radius: 48px;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}
body.login .wrapper .login__select-custom .selected img {
  width: 24px;
  height: auto;
}
body.login .wrapper .login__select-custom .selected span {
  font-size: 16px;
}
body.login .wrapper .login__select-custom .selected:after {
  content: "∨";
  margin-left: auto;
  font-size: 14px;
}
body.login .wrapper .login__select-custom .options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background: #1c1c1c;
  border: 2px solid #7f602b;
  border-radius: 16px;
  z-index: 10;
  display: none;
  flex-direction: column;
  overflow: hidden;
}
body.login .wrapper .login__select-custom .options li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  transition: background-color 0.2s ease;
}
body.login .wrapper .login__select-custom .options li img {
  width: 24px;
  height: auto;
}
body.login .wrapper .login__select-custom .options li:hover {
  background-color: #333;
}
body.login .wrapper .login__select-custom .options.active {
  display: flex;
}
body.login .wrapper .login__select-custom .options .sumbit_value {
  color: #000;
}
body.login .wrapper .login__member-account {
  position: relative;
}
body.login .wrapper .login__member-account-warning {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #7e7e7e;
  font-size: 0.9rem;
}
body.login .wrapper .login__member-password {
  position: relative;
}
body.login .wrapper .login__member-password-eye {
  position: absolute;
  top: 15px;
  right: 15px;
}
body.login .wrapper .login__member-password-warning {
  position: absolute;
  top: 12px;
  right: 40px;
  color: #7e7e7e;
  font-size: 0.9rem;
}
body.login .wrapper .login__member-auth {
  position: relative;
}
body.login .wrapper .login__member-auth-bg {
  position: absolute;
  top: 7px;
  right: 7px;
  text-align: center;
  line-height: 23pt;
  width: 74px;
  height: 30px;
  display: block;
  background: url("../images/code_bg.png") no-repeat center center/cover;
}
body.login .wrapper .login__member-auth-warning {
  position: absolute;
  top: 12px;
  right: 90px;
  color: #7e7e7e;
  font-size: 0.9rem;
}
body.login .wrapper .login__member input {
  margin-bottom: 15px;
  border-radius: 48px;
  border: 2px solid #7f602b;
  background-color: #000;
  padding: 8px 10px 8px 50px;
}
body.login .wrapper .login__member input::-moz-placeholder {
  color: #ccc;
}
body.login .wrapper .login__member input::placeholder {
  color: #ccc;
}
body.login .wrapper .login__member input[type=checkbox] {
  display: none;
}
body.login .wrapper .login__member input[type=checkbox] + span {
  display: inline-block;
  padding-left: 26px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url("../images/gogo_none.png") no-repeat 0 0/21%;
}
body.login .wrapper .login__member input[type=checkbox]:checked + span {
  background: url("../images/gogo.png") no-repeat 0 0/21%;
}
body.login .wrapper .login__member-account-code {
  background-image: url("../images/icon_id.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
}
body.login .wrapper .login__member-password-code {
  background-image: url("../images/icon_pw.png");
  background-repeat: no-repeat;
  background-position: 15px 5px;
}
body.login .wrapper .login__member-auth-code {
  background-image: url("../images/icon_key.png");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}
body.login .wrapper .login__member-password-section {
  padding: 20px 10px;
}
body.login .wrapper .login__member-btn {
  line-height: 2rem;
  font-size: bold;
  border-radius: 48px;
  color: #fff;
  background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
  font-weight: bold;
  font-size: 1.3rem;
}
body.login .wrapper .login__member-btn:hover {
  box-shadow: 0 0 15px #fff;
}
body.login .wrapper .login__member-btn:active {
  background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
}
body.lobby {
  background: #0f0b00;
}
body.lobby .main__header-screen-btn {
  padding: 10px;
}
body.lobby .main__header-marquee {
  color: #e9cdaf;
  background-color: #221d15;
  padding: 10px;
  position: relative;
}
body.lobby .main__header-marquee-checkbox {
  position: absolute;
  left: 3%;
}
body.lobby .main__header-marquee-music {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 48px;
  background: #191513;
}
body.lobby .main__header-marquee-music-voice {
  padding-right: 10px;
}
body.lobby .main .history {
  height: 83vh;
}
body.lobby .main .menu li.list-item {
  border: 1px solid #eed4a8;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px -50px 36px -58px #fff inset;
}
body.lobby .main .menu li.list-item:hover {
  background: linear-gradient(to bottom, #3f2606 0%, #5a4225 100%);
  box-shadow: 0 0 10px #fff;
}
body.lobby .main .menu li.list-item a {
  width: 120px;
  height: 30px;
  margin: 5px 0;
  color: #eed4a8;
  line-height: 2rem;
}
body.lobby .main .menu li.list-item a img {
  display: block;
  float: left;
  margin-right: 20px;
}
body.lobby .main__contents-chat-room-title {
  color: #fff;
  height: 25px;
  padding: 2px 0 0 5px;
  background: #000 url("../images/chat_top.png") no-repeat center center/cover;
}
body.lobby .main__contents-chat-room-text {
  border: 1px solid #eed4a8;
}
body.lobby .main__contents-chat-room-text-dl {
  height: 35vh;
  padding: 10px;
}
body.lobby .main__contents-chat-room-text-dl-dt {
  margin-bottom: 5px;
}
body.lobby .main__contents-chat-room-text-dl-dd-section {
  font-size: 1rem;
  padding: 5px 0 5px 8px;
  border-radius: 5px;
  word-wrap: break-word;
  background: #695c41 url("../images/talk frame.png") no-repeat left top/cover;
  position: relative;
}
body.lobby .main__contents-chat-room-text-dl-dd-section::after {
  position: absolute;
  top: -10px;
  left: 5px;
  content: "";
  display: block;
  border-bottom: 10px solid #695c41;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
body.game-chat {
  background: #0f0b00;
}