/* 所有設定檔 */
@use "basic/varsetting";
@use "basic/fonts";
@use "basic/normal";
@use "basic/animation";
@use "mixin/media";
@use "widget/modal";
@use "elements/button";
@use "elements/scrollbar";

body {

  // ========================= index 登入頁面 start =========================
  &.login {
    background: #a4a4a4 url(../images/login_bg01.jpg) no-repeat center center / cover;

    .wrapper {
      .login {
        .row {
          height: 100vh;
        }

        &__logo {
          text-align: center;
        }

        &__select-custom {
          margin: 20px 0;
          position: relative;
          width: 220px;
          font-family: Arial, sans-serif;
          user-select: none;
          cursor: pointer;

          .selected {
            background-color: #000;
            border: 2px solid #7f602b;
            border-radius: 48px;
            padding: 10px 20px;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: background-color 0.3s ease;

            img {
              width: 24px;
              height: auto;
            }

            span {
              font-size: 16px;
            }

            &:after {
              content: '∨';
              margin-left: auto;
              font-size: 14px;
            }
          }

          .options {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            right: 0;
            background: #1c1c1c;
            border: 2px solid #7f602b;
            border-radius: 16px;
            z-index: 10;
            display: none;
            flex-direction: column;
            overflow: hidden;

            li {
              padding: 10px 20px;
              display: flex;
              align-items: center;
              gap: 10px;
              color: #fff;
              transition: background-color 0.2s ease;

              img {
                width: 24px;
                height: auto;
              }

              &:hover {
                background-color: #333;
              }
            }

            &.active {
              display: flex;
            }

            .sumbit_value {
              color: #000;
            }
          }
        }

        &__member {
          &-account {
            position: relative;

            &-warning {
              position: absolute;
              top: 12px;
              right: 20px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          &-password {
            position: relative;

            &-eye {
              position: absolute;
              top: 15px;
              right: 15px;
            }

            &-warning {
              position: absolute;
              top: 12px;
              right: 40px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          &-auth {
            position: relative;

            &-bg {
              position: absolute;
              top: 7px;
              right: 7px;
              text-align: center;
              line-height: 23pt;
              width: 74px;
              height: 30px;
              display: block;
              background: url('../images/code_bg.png') no-repeat center center / cover;
            }

            &-warning {
              position: absolute;
              top: 12px;
              right: 90px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          input {
            margin-bottom: 15px;
            border-radius: 48px;
            border: 2px solid #7f602b;
            background-color: #000;
            padding: 8px 10px 8px 50px;

            &::placeholder {
              color: #ccc;
            }

            &[type=checkbox] {
              display: none;

              &+span {
                display: inline-block;
                padding-left: 26px;
                line-height: 20px;
                user-select: none;
                background: url('../images/gogo_none.png') no-repeat 0 0 / 21%;
              }

              &:checked {
                &+span {
                  // border: 1px solid #000;
                  background: url('../images/gogo.png') no-repeat 0 0 / 21%;
                }
              }
            }
          }


          &-account-code {
            background-image: url('../images/icon_id.png');
            background-repeat: no-repeat;
            background-position: 15px 5px;
          }

          &-password-code {
            background-image: url('../images/icon_pw.png');
            background-repeat: no-repeat;
            background-position: 15px 5px;
          }

          &-auth-code {
            background-image: url('../images/icon_key.png');
            background-repeat: no-repeat;
            background-position: 15px 10px;
          }

          &-password-section {
            padding: 20px 10px;
          }

          &-btn {
            line-height: 2rem;
            font-size: bold;
            border-radius: 48px;
            color: #fff;
            background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
            font-weight: bold;
            font-size: 1.3rem;

            &:hover {
              box-shadow: 0 0 15px #fff;
            }

            &:active {
              background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
            }
          }
        }
      }
    }
  }

  // ========================= index 登入頁面 end ===========================

  // ========================= lobby 大廳 start =========================
  &.lobby {
    background: #0f0b00;

    .aside {
      background: linear-gradient(to bottom, #413b2f 0%, #2e2721 10%, #2e2721 100%);

      &__logo {
        display: block;
        height: auto;
        padding: 15px 10px 25px 10px;
        border-bottom: 5px groove #66584b;
      }

      &__user {
        padding: 10px 0;
      }

      &__member {
        text-align: center;

        &-label {
          position: relative;

          img {
            position: absolute;
            right: 5px;
            top: 40%;
            transform: translate(0, -50%)
          }

          input {
            margin-bottom: 10px;
            border-radius: 5px;
            border: 2px solid #7f602b;
            background-color: #000;
            padding-right: 33px;

            &.userName {
              color: #fff;
            }

            &.userMoney {
              color: #eed4a8;
            }
          }
        }
        
        &-btn {
          &-classic {
            color: #fff;
            margin-bottom: 5px;
            height: 60px;
            background: url('../images/room_blue_btn.png') no-repeat center center / 100% 100%;
          }
          
          &-multiple {
            color: #fff;
            height: 60px;
            background: url('../images/room_gray_btn.png') no-repeat center center / 100% 100%;
          }
        }
      }

      .rank {
        margin-top: 10px;

        &__body {
          border: 4px solid #776648;
          border-radius: 5px;

          &-tabs {
            &-btn {
              color: #eed4a8;
              font-size: 1vw;
              background: linear-gradient(to bottom, #f9e574 0%, #645b27 39%, #291d00 67%, #291d00 100%);
              &.active {
                background: linear-gradient(to bottom, #f97474 0%, #290000 67%);
              }
            }

            .nav-link {
              padding: 10px 0;
            }
          }

          &-badge {
            margin: 10px 0;
            text-align: center;

            &__red {
              border: 1px solid #fc6b6b;
              background: linear-gradient(to top, #9d3030 0%, #580b0b 48%, #b33f3f 100%);
            }
            
            &__yellow {
              border: 1px solid #fc6b6b;
              background: linear-gradient(to top, #9d5f30 0%, #582c0b 48%, #b37b3f 100%);
            }
          }

          &-contents {
            .tab-pane {
              width: 100%;

              ul {
                display: block;
                width: 100%;
                height: 22vh;

                li {
                  display: flex;
                  border: 1px solid #5b460c;
                  padding: 10px;
                }
              }
            }

            &__numb {
              display: flex;
              align-items: center;
              font-size: 2rem;
              font-weight: bolder;
              background: linear-gradient(to top, #cca75e 0%, #fde59b 60%, #fde59b 100%);
              background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
              
            }
            
            &__cup {
              display: flex;
              align-items: center;
              padding: 5px;
              img {
                min-width: 30px;
              }
            }

            &__info {
              &-money {
                word-wrap: break-word;
                word-break:break-all; 
              }
            }
          }
        }

      }
    }

    .main {
      &__header {
        &-screen-btn {
          padding: 10px;
        }

        &-marquee {
          color: #e9cdaf;
          background-color: #221d15;
          padding: 10px;
          position: relative;

          &-checkbox {
            position: absolute;
            left: 3%;
          }

          &-music {
            display: block;
            width: 80%;
            padding: 10px;
            border-radius: 48px;
            background: #191513;

            &-voice {
              padding-right: 10px;
            }
          }
        }

      }

      .history {

        height: 83vh;
      }

      .menu {
        li {
          &.list-item {
            border: 1px solid #eed4a8;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            box-shadow: 0px -50px 36px -58px #fff inset;

            &:hover {
              background: linear-gradient(to bottom, #3f2606 0%, #5a4225 100%);
              box-shadow: 0 0 10px #fff;
            }

            a {
              // display: block;
              width: 120px;
              height: 30px;
              margin: 5px 0;
              color: #eed4a8;
              line-height: 2rem;


              img {
                display: block;
                float: left;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }

  // ========================= lobby 大廳 end =========================

  // ========================= game 游戲廳 start ===========================

  // ========================= game 游戲廳 end ===========================

}