/* 所有設定檔 */
@use "basic/varsetting";
@use "basic/fonts";
@use "basic/normal";
@use "basic/animation";
@use "common/aside";
@use "mixin/media";
@use "widget/modal";
@use "widget/marquee";
@use "widget/groupBtn";
@use "widget/checkbox";
@use "widget/switch-icon";
@use "widget/chips";
@use "widget/options";
@use "widget/panelChat";
@use "widget/binfo";
@use "elements/button";
@use "elements/scrollbar";

body {

  // ========================= index 登入頁面 start =========================
  &.login {
    background: #a4a4a4 url(../images/login_bg01.jpg) no-repeat center center / cover;

    .wrapper {
      .login {
        .row {
          height: 100vh;
        }

        &__logo {
          text-align: center;
        }

        &__select-custom {
          margin: 20px 0;
          position: relative;
          width: 220px;
          font-family: Arial, sans-serif;
          user-select: none;
          cursor: pointer;

          .selected {
            background-color: #000;
            border: 2px solid #7f602b;
            border-radius: 48px;
            padding: 10px 20px;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: background-color 0.3s ease;

            img {
              width: 24px;
              height: auto;
            }

            span {
              font-size: 16px;
            }

            &:after {
              content: '∨';
              margin-left: auto;
              font-size: 14px;
            }
          }

          .options {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            right: 0;
            background: #1c1c1c;
            border: 2px solid #7f602b;
            border-radius: 16px;
            z-index: 10;
            display: none;
            flex-direction: column;
            overflow: hidden;

            li {
              padding: 10px 20px;
              display: flex;
              align-items: center;
              gap: 10px;
              color: #fff;
              transition: background-color 0.2s ease;

              img {
                width: 24px;
                height: auto;
              }

              &:hover {
                background-color: #333;
              }
            }

            &.active {
              display: flex;
            }

            .sumbit_value {
              color: #000;
            }
          }
        }

        &__member {
          &-account {
            position: relative;

            &-warning {
              position: absolute;
              top: 12px;
              right: 20px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          &-password {
            position: relative;

            &-eye {
              position: absolute;
              top: 15px;
              right: 15px;
            }

            &-warning {
              position: absolute;
              top: 12px;
              right: 40px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          &-auth {
            position: relative;

            &-bg {
              position: absolute;
              top: 7px;
              right: 7px;
              text-align: center;
              line-height: 23pt;
              width: 74px;
              height: 30px;
              display: block;
              background: url('../images/code_bg.png') no-repeat center center / cover;
            }

            &-warning {
              position: absolute;
              top: 12px;
              right: 90px;
              color: #7e7e7e;
              font-size: 0.9rem;
            }
          }

          input {
            margin-bottom: 15px;
            border-radius: 48px;
            border: 2px solid #7f602b;
            background-color: #000;
            padding: 8px 10px 8px 50px;

            &::placeholder {
              color: #ccc;
            }

            &[type=checkbox] {
              display: none;

              &+span {
                display: inline-block;
                padding-left: 26px;
                line-height: 20px;
                user-select: none;
                background: url('../images/gogo_none.png') no-repeat 0 0 / 21%;
              }

              &:checked {
                &+span {
                  // border: 1px solid #000;
                  background: url('../images/gogo.png') no-repeat 0 0 / 21%;
                }
              }
            }
          }

          &-account-code {
            background-image: url('../images/icon_id.png');
            background-repeat: no-repeat;
            background-position: 15px 5px;
          }

          &-password-code {
            background-image: url('../images/icon_pw.png');
            background-repeat: no-repeat;
            background-position: 15px 5px;
          }

          &-auth-code {
            background-image: url('../images/icon_key.png');
            background-repeat: no-repeat;
            background-position: 15px 10px;
          }

          &-password-section {
            padding: 20px 10px;
          }

          &-btn {
            line-height: 2rem;
            font-size: bold;
            border-radius: 48px;
            color: #fff;
            background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
            font-weight: bold;
            font-size: 1.3rem;

            &:hover {
              box-shadow: 0 0 15px #fff;
            }

            &:active {
              background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
            }
          }
        }
      }
    }
  }

  // ========================= index 登入頁面 end ===========================

  // ========================= lobby 大廳 start =========================
  &.lobby {
    background: #0f0b00;

    .main {
      &__header {
        &-screen-btn {
          padding: 10px;
        }

        &-marquee {
          color: #e9cdaf;
          background-color: #221d15;
          padding: 10px;
          position: relative;

          &-checkbox {
            position: absolute;
            left: 3%;
          }

          &-music {
            display: block;
            width: 80%;
            padding: 10px;
            border-radius: 48px;
            background: #191513;

            &-voice {
              padding-right: 10px;
            }
          }
        }

      }

      .history {
        height: 83vh;
      }

      .menu {
        li {
          &.list-item {
            border: 1px solid #eed4a8;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            box-shadow: 0px -50px 36px -58px #fff inset;

            &:hover {
              background: linear-gradient(to bottom, #3f2606 0%, #5a4225 100%);
              box-shadow: 0 0 10px #fff;
            }

            a {
              // display: block;
              width: 120px;
              height: 30px;
              margin: 5px 0;
              color: #eed4a8;
              line-height: 2rem;


              img {
                display: block;
                float: left;
                margin-right: 20px;
              }
            }
          }
        }
      }

      &__contents {
        &-chat-room {
          &-title {
            color: #fff;
            height: 25px;
            padding: 2px 0 0 5px;
            background: #000 url('../images/chat_top.png') no-repeat center center / cover;
          }

          &-text {
            border: 1px solid #eed4a8;

            &-dl {
              height: 35vh;
              padding: 10px;

              &-dt {
                margin-bottom: 5px;
              }

              &-dd {
                &-section {
                  font-size: 1rem;
                  padding: 5px 0 5px 8px;
                  border-radius: 5px;
                  word-wrap: break-word;
                  background: #695c41 url('../images/talk frame.png') no-repeat left top / cover;
                  position: relative;

                  &::after {
                    position: absolute;
                    top: -10px;
                    left: 5px;
                    content: '';
                    display: block;
                    border-bottom: 10px solid #695c41;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // ========================= lobby 大廳 end =========================

  // ========================= game 游戲廳 start ===========================
  &.game-chat {
    background: #0f0b00;

    .main {

      &__header {
        &-toggle {
          padding: 0 10px;
          display: flex;

          &-user {
            margin-left: 50px;
          }
        }
      }

      &__bet {
        &-section {
          position: relative;

          &-info {
            position: absolute;
            right: 50px;
            bottom: 30px;
            width: 200px;

            ul {
              li {
                border: 1px solid #7f602b;
                font-size: .8rem;
                background: #000;
                border-radius: 48px;
                margin: 10px 0;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                line-height: 1rem;
              }
            }
          }

          &-group-button {
            position: absolute;
            right: 0;
            bottom: 0;

            &-switch {
              width: 25px;
              height: 100px;
              text-align: center;
              vertical-align: middle;
              background: transparent url('../images/switch_btn.png') no-repeat center / contain;
              -webkit-writing-mode: vertical-lr;
              writing-mode: vertical-lr;

              a {
                color: #695c41;
                text-decoration: none;
              }
            }

            &-adjust {
              position: absolute;
              color: #695c41;
              width: 25px;
              height: 100px;
              text-align: center;
              vertical-align: middle;
              background: transparent url('../images/btn_bg.png') no-repeat center / contain;
              -webkit-writing-mode: vertical-lr;
              writing-mode: vertical-lr;

              ul {
                display: flex;
                justify-content: space-evenly;

                li {
                  img {
                    display: block;
                    width: 19px;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }

      &__panel {
        display: grid;
        width: 100%;
        height: 325px;
        background: linear-gradient(to bottom, #393b41 0%, #141721 10%);
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "switch switch switch btns btns btns btns btns btns chips chips chips"
          "road-1 road-1 road-1 options options options options options options road-2 road-2 road-2"
          "road-1 road-1 road-1 options options options options options options road-2 road-2 road-2"
          "road-1 road-1 road-1 options options options options options options road-2 road-2 road-2"
          "road-1 road-1 road-1 options options options options options options road-2 road-2 road-2"
          "chat chat chat . . . . . . binfo binfo binfo"
        ;
        align-items: stretch;

        &-switch {
          grid-area: switch;
          // background: #0a3ee7;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        &-btns {
          grid-area: btns;
          // background: #caf704;

          .btn {
            color: #fff;
            border: 1px solid #fff;
            width: 100px;
            height: 35px;
            margin: 0 10px;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              font-size: 1.3rem;
              display: flex;
              justify-content: center;
              align-items: center;

            }

            &:nth-child(1) {
              background: linear-gradient(to bottom, #c1565e 0%, #b61e1e 36%, #c08383 100%);
            }

            &:nth-child(2) {
              background: linear-gradient(to bottom, #dee5ff 0%, #aaaaaa 36%, #ffffff 100%);
            }

            &:nth-child(3) {
              background: linear-gradient(to bottom, #74be7b 0%, #298f33 36%, #8ecf94 100%);
            }

            &:hover {
              box-shadow: 0 0 10px;
            }

            &:active {
              box-shadow: inset 0 0 10px;
            }
          }
        }



        &-road {
          &--1 {
            grid-area: road-1;
            background: #fff url(../images/left_bg.png) no-repeat center / contain;
          }

          &--2 {
            grid-area: road-2;
            background: #fff url(../images/right_bg.png) no-repeat center / contain;
          }
        }



        &-chat {
          grid-area: chat;
          // background: #d904ec;
          display: flex;
        }

        &-binfo {
          grid-area: binfo;
          // background: #ff0000;
          display: flex;
          justify-content: center;


        }

      }
    }
  }

  // ========================= game 游戲廳 end ===========================

}