.main {
    &__header {
        &-screen-btn {
          padding: 10px;
        }

        &-marquee {
          color: #e9cdaf;
          background-color: #221d15;
          padding: 10px;
          position: relative;

          &-checkbox {
            position: absolute;
            left: 3%;
          }

          &-music {
            display: block;
            // width: 80%;
            padding: 10px;
            border-radius: 48px;
            background: #191513;

            &-voice {
              padding-right: 10px;
            }
          }
        }

      }
}