.main {
    &__header {
        background: linear-gradient(to bottom, #564f40 0%, #221e15 10%);
        &-screen-btn {
            padding: 10px;
        }

        &-marquee {
            color: #e9cdaf;
            background-color: transparent;
            padding: 10px;
            position: relative;

            &-checkbox {
                position: absolute;
                left: 3%;

            }
            
            &-music {
                display: block;
                padding: 10px;
                border-radius: 48px;
                background: #191513;
                
                &-voice {
                    padding-right: 10px;
                }
            }
        
        }
        &-group-btn {
            li {
                padding: 10px;
            }
        }            
    }
}