//==================================================
// Modals setting
//==================================================

#forgetModalToggle,
#forgetModalToggle2 {
    .modal {
        &-content {
            border-width: 6px;
            border-color: rgba($color: #533b0e, $alpha: 0.5);
            color: #000;
            background-color: transparent;

            input {
                background-color: #1b1815;
                color: #9f9f9f;

                &::placeholder {
                    color: #ccc;
                }
            }
        }

        &-header {
            background: linear-gradient(to top, #523a0d, #463109, #533b0e);
            color: #fff;
            border-color: transparent;

            h5 {
                width: 100%;
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 24px;
            }

            .btn-close {
                filter: invert(100%);
            }
        }

        &-body {
            color: #fff;
            background-color: #2e2a21;
        }

        &-footer {
            background: linear-gradient(to top, #221e15, #2e2a21);
            border-color: rgba($color: #533b0e, $alpha: 0.5);

        }

        &-btn {
            color: #fff;
            font-weight: bold;
            font-size: 1.1rem;
            background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
            border-radius: 48px;
            width: 100px;

            &:hover {
                box-shadow: 0 0 15px #fff;
            }

            &:active {
                background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
            }
        }
    }
}