//==================================================
// Modals setting
//==================================================

/* 彈跳視窗 */
.ModalToggle {
    .modal {
        &-content {
            border-width: 6px;
            border-color: rgba($color: #533b0e, $alpha: 0.5);
            color: #000;
            background-color: transparent;
            position: relative;


        }

        &-header {
            background: linear-gradient(to top, #523a0d, #463109, #533b0e);
            color: #fff;
            border-color: transparent;

            h5 {
                width: 100%;
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 24px;
            }

            .btn-close {
                filter: invert(100%);
            }
        }

        &-body {
            color: #fff;
            background-color: #2e2a21;

            .nav {
                &-tabs {
                    border: none;
                    margin-bottom: 10px;
                }

                &-link {
                    border: none;

                    a {
                        color: #fff;
                    }

                    &.active {
                        a {
                            display: block;
                            color: #f7c967;
                            border-bottom: 1px solid #ffd696;
                            padding-bottom: 0.2rem;

                        }

                        background: none;
                        font-weight: bold;
                    }
                }
            }

            .tab {
                &-pane {
                    .table {
                        &-dark {
                            border-color: #7b6237;
                        }

                        tbody {
                            color: #aaaaaa;

                            td {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        &-footer {
            background: linear-gradient(to top, #221e15, #2e2a21);
            border-color: rgba($color: #533b0e, $alpha: 0.5);

        }

        &-btn {
            color: #fff;
            font-weight: bold;
            font-size: 1.1rem;
            background: linear-gradient(#f7c967 0%, #a3791e 40%, #a3791e 60%, #f7c967 100%);
            border-radius: 48px;
            width: 100px;

            &:hover {
                box-shadow: 0 0 15px #fff;
            }

            &:active {
                background: linear-gradient(#ffffff 0%, #444342 40%, #2e2d2d 60%, #ffffff 100%);
            }
        }
    }
}

#forgetModalToggle {
    @extend .ModalToggle;

    input {
        background-color: #1b1815;
        color: #9f9f9f;

        &::placeholder {
            color: #ccc;
        }
    }
}

#forgetModalToggle2 {
    @extend .ModalToggle;
}

#reportModalToggle {
    @extend .ModalToggle;

    .modal {
        &-content {
            .res {
                color: #ff0000;
            }

            .green {
                color: #00ff00;
            }

            .Bureau {
                color: #ffd696;
                font-weight: bold;
            }

            &-dateBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;

                li {
                    a {
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1rem;
                        background: linear-gradient(to top, #523a0d 0%, #463109 50%, #735e35 100%);
                        // border-radius: 48px;
                        width: 100px;
                        margin-right: 10px;

                        &:hover {
                            background: linear-gradient(to top, #ad8b4f 0%, #805e22 50%, #ae8c50 100%);
                        }

                        &.active {
                            background: linear-gradient(to top, #ad8b4f 0%, #805e22 50%, #ae8c50 100%);
                        }
                    }
                }
            }

        }

    }
}