//==================================================
// view point setting
//==================================================

// 中型螢幕-xxl-小於1920
@media only screen and (max-width: 1920px) {
}

// 小型螢幕或大型平板-xl-小於1400
@media only screen and (max-width: 1400px) {
}

// 中型平板-lg-最大於等於1200
@media only screen and (max-width: 1200px) {
}

// 小型平板-md-最大於等於992
@media only screen and (max-width: 992px) {
}

// 大型手機-sm-最大於等於768
@media only screen and (max-width: 768px) {
    .aside {
        &__member {
            &-btn {
                display: flex;
            }
        }
    }
    .main {
        &__header {
            &-marquee {
                display: flex;
                flex-direction: column-reverse;
            }
            &-screen-btn {
                a {
                    display: none !important;
                }
            }
        }
    }    
}

// 中型手機-xs-最大於等於576
@media only screen and (max-width: 576px) {

}

/* 共用網頁主體 */
// 只要寬高比大於等於16/9，就會執行
@media (min-aspect-ratio: 16/9) {
}

// 只要寬高比小於等於16/9，就會執行
@media (max-aspect-ratio: 16/9) {
}