//自訂字體
@font-face {
    font-family: $sui_generis_rg;
    src: url("../webfonts/sui generis rg.otf");
    src: url("../webfonts/sui generis rg.otf");
}

@font-face {
    font-family: $lairaitalic;
    src: url("../webfonts/LairaItalic-MVo6n.otf");
    src: url("../webfonts/LairaItalic-MVo6n.otf");
}

@font-face {
    font-family: $laira_rgoBL;
    src: url("../webfonts/Laira-rgoBL.otf");
    src: url("../webfonts/Laira-rgoBL.otf");
}

@font-face {
    font-family: $franklin_gothic_medium;
    src: url("../webfonts/OPTIFranklinGothic-Medium.otf");
    src: url("../webfonts/OPTIFranklinGothic-Medium.otf");
}

@font-face {
    font-family: $enter_sansman;
    src: url("../webfonts/entsani.ttf") format("opentype");
    src: url("../webfonts/entsani.ttf") format("opentype");
}