//==================================================
// fonts setting
//==================================================
$sui_generis_rg: sui generis rg;
$laira_rgoBL: Laira-rgoBL;
$lairaitalic: LairaItalic;
$franklin_gothic_medium: OPTIFranklinGothic-Medium;
$enter_sansman: Enter Sansman;

//==================================================
// color setting
//==================================================
$web_color_1 : #B71C25; //網站第一色系
$web_color_2 : #191919; //網站第二色系
$web_color_3 : #E4C382; //網站第三色系
$web_color_4 : #C30E23; //網站第四色系
$web_color_5 : #231F20; //網站第五色系
$web_color_6 : #58595B; //網站第六色系
$web_color_7 : #414042; //網站第七色系
$web_color_8 : #BC3331; //網站第八色系
$web_color_9 : #1F1F1F; //網站第九色系
$web_color_10 : #E92131; //網站第十色系
$web_color_11 : #6D6E71; //網站第十一色系

$border-color: #ddd;